<template>
  <v-toolbar color="blue" dark class="toolbar">
    <v-toolbar-title>
      <nuxt-link to="/">
        <img src="~/assets/img/vuetify-logo.svg" alt="logo" class="logo" />
      </nuxt-link>
    </v-toolbar-title>

    <v-divider class="mx-4" vertical></v-divider>

    <span class="subheading">Тестовое задание</span>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn text to="/"> Главная </v-btn>

      <v-divider vertical></v-divider>

      <v-btn text to="/contact"> Контакты </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<style lang="scss" scoped>
.logo {
  width: 20px;
  height: 20px;
}
</style>
