html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display: block;
}
ol, ul{
  list-style: none;
}
:focus{
  outline: none;
}
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a {
  outline: none;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
  }
}


button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
  }
}
