<template>
  <v-app>
    <div class="head">
      <toolBar />
    </div>
    <div class="container">
      <nuxt />
    </div>
  </v-app>
</template>

<script>
import toolBar from '~/components/toolbar.vue'
export default {
  components: {
    toolBar,
  },
  data() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.head {
  height: 64px;
  margin-bottom: 20px;
}
</style>
