<template>
  <div v-if="post">
    <v-img class="white--text align-end" height="200px" :src="post.image">
      <v-card-title>{{ post.title }}</v-card-title>
    </v-img>

    <v-card-text class="text--primary">
      <div>{{ getData }}</div>

      <div>{{ post.description }}</div>
    </v-card-text>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  data: () => ({
    post: null,
  }),
  computed: {
    getData() {
      return moment(this.post.createdAt).format('DD.MM.YYYY HH:mm')
    },
  },
  async mounted() {
    await this.getBlogPageId()
  },
  methods: {
    async getBlogPageId() {
      try {
        const response = await this.$axios.get(
          `https://6082e3545dbd2c001757abf5.mockapi.io/qtim-test-work/posts/${this.$route.params.id}`
        )
        this.post = response.data
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>
