<template>
  <div>Страница контактов</div>
</template>

<script>
export default {
  components: {},
  mixins: [],
  data: () => ({}),
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  updated() {},
  activated() {},
  deactivated() {},
  methods: {},
}
</script>

<style lang="scss" scoped></style>
