<template>
  <div>
    <div class="card">
      <v-card
        v-for="(item, k) in blogList"
        :key="k"
        :loading="loading"
        class="card__item"
        max-width="374"
      >
        <template slot="progress">
          <v-progress-linear
            color="deep-purple"
            height="10"
            indeterminate
          ></v-progress-linear>
        </template>

        <v-img height="250" :src="item.image" />

        <v-card-title>{{ item.title }}</v-card-title>

        <v-card-text>
          <div class="my-1 subtitle-1">{{ getData(item.createdAt) }}</div>

          <div>
            {{ item.preview }}
          </div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-actions>
          <v-btn color="deep-purple lighten-2" :to="`${item.id}`" text
            >Подробнее</v-btn
          >
        </v-card-actions>
      </v-card>
    </div>
    <div class="text-center">
      <v-pagination v-model="page" :length="pageLength" />
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data: () => ({
    dataList: null,
    blogList: null,
    pageLength: null,
    page: 1,
    pageNum: 10,
    loading: false,
  }),
  watch: {
    page(val) {
      const num = val - 1
      this.changePagination(num)
    },
  },
  created() {},
  async mounted() {
    await this.getBlogList()
  },
  methods: {
    async getBlogList() {
      this.loading = true
      try {
        const response = await this.$axios.get(
          'https://6082e3545dbd2c001757abf5.mockapi.io/qtim-test-work/posts/'
        )
        this.dataList = response.data
        this.pageLength = Math.ceil(response.data.length / this.pageNum)
        this.loading = false
        this.changePagination(0)
      } catch (e) {
        console.log(e)
      }
    },
    getData(val) {
      return moment(val).format('DD.MM.YYYY')
    },
    changePagination(num) {
      const start = num * this.pageNum
      const end = Math.ceil((num + 1) * this.pageNum)
      this.blogList = this.dataList.slice(start, end)
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 40px;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
</style>
